.planta-bg {
  padding-top: 50px;
  padding-bottom: 80px;
}

.planta-conteudo {
  background: var(--cor-s1);
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  place-items: center;
  border-radius: 10px;
  padding: 30px 50px;
  gap: 20px;
}

.planta-descricao h1 {
  place-items: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.planta-descricao a {
  display: inline-block;
  background-color: var(--cor-p3);
  padding: 10px 25px;
  border-radius: 50px;
  margin-top: 55px;
}

.planta-descricao a:hover {
  background-color: #165827;
}

#monstera .catalogo-titulo,
#zamioculca .catalogo-titulo,
#philodendron .catalogo-titulo,
#mostera-adansonii .catalogo-titulo,
#samambaia .catalogo-titulo,
#jiboia .catalogo-titulo,
#ficus-lyrata .catalogo-titulo,
#cacto .catalogo-titulo {
  margin-top: 50px;
}

@media (max-width: 730px) {
  .planta-bg {
    background: var(--cor-s1);
  }
  .planta-conteudo {
    grid-template-columns: 1fr;
  }
  .planta-descricao {
    grid-area: 2;
  }
  .planta-imagem {
    justify-self: center;
    grid-area: 1;
  }
}

@media (max-width: 480px) {
  .planta-descricao h1 {
    font-size: 2rem;
  }
  .planta-descricao a {
    font-size: 1.25rem;
    padding: 8px 12px;
  }
}
