.font-xs {
  font: 400 1rem/1.35 "Titillium web", sans-serif;
}

.font-s {
  font: 400 1.125rem/1.35 "Titillium web", sans-serif;
}

.font-s-b {
  font: 600 1.125rem/1.35 "Titillium web", sans-serif;
}

.font-m {
  font: 400 1.25rem/1.35 "Titillium web", sans-serif;
}

.font-m-b {
  font: 550 1.25rem/1.35 "Titillium web", sans-serif;
}

.font-l {
  font: 400 1.5rem/1.35 "Titillium web", sans-serif;
}

.font-l-b {
  font: 600 1.5rem/1.35 "Titillium web", sans-serif;
}

.font-xl {
  font: 600 2.25rem/1.35 "Titillium web", sans-serif;
}

.font-xxl {
  font: 600 4.375rem/1.35 "Titillium Web", sans-serif;
}
