.planta-bg {
  background: var(--cor-s1) url(../../img/icon/Linhas\ verde\ bottom\ left.svg)
    no-repeat left top 520px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.planta-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
}

.planta-descricao {
  width: 700px;
}

.planta-descricao h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.planta-descricao a {
  display: inline-block;
  background-color: var(--cor-p3);
  padding: 10px 15px;
  border-radius: 50px;
  margin-top: 55px;
}

.planta-descricao a:hover {
  background-color: #165827;
}

#monstera .catalogo h2 {
  margin-top: 50px;
}
