.catalogo-bg {
  background-color: var(--cor-s1);
}

.catalogo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalogo h2 {
  text-align: start;
  margin-bottom: 60px;
}

.catalogo-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
}

.catalogo-lista li {
  position: relative;
  border-radius: 4px;
  min-width: 300px;
  border-radius: 4px;
  list-style: none;
}

.catalogo > img {
  border-radius: 4px;
}

.catalogo-lista a {
  display: block;
  height: 0px;
}

.catalogo-planta {
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 10px;
  padding: 10px 20px;
  background-color: var(--cor-p4);
  border-radius: 50px;
}

.catalogo-botao-compra img,
.catalogo-botao img {
  box-sizing: border-box;
  position: absolute;
  height: 35px;
  width: 35px;
  background: var(--cor-p4);
  padding: 6px;
  border-radius: 50%;
}

.catalogo-botao img {
  top: 250px;
  left: 205px;
}

.catalogo-botao-compra img {
  top: 250px;
  left: 255px;
}

.catalogo-botao-compra img:hover,
.catalogo-botao img:hover {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
  transition: filter 0.2s;
}

@media (max-width: 1404px) {
  .catalogo-lista {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 50px;
    overflow-x: auto;
    padding-left: 15px;
  }
}
