.footer-bg {
  background: var(--cor-s1);
  padding-top: 180px;
  padding-bottom: 200px;
}

.footer-grid {
  background: var(--cor-p4);
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 10px;
  padding: 110px 50px 90px 50px;
}

.footer-endereco p {
  margin-top: 16px;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-info h3 {
  grid-area: 1;
}

.row-2 {
  grid-area: 2;
  padding-top: 20px;
}

.row-3 {
  grid-area: 3;
  padding-top: 10px;
}

@media (max-width: 950px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 560px) {
  .footer-info {
    grid-template-columns: 1fr;
  }
  .footer-info h3 {
    grid-area: initial;
  }

  .footer-info h3:nth-child(4),
  .footer-info h3:nth-child(7) {
    margin-top: 20px;
  }

  .row-2,
  .row-3 {
    grid-area: initial;
  }
  .footer-endereco p,
  .footer-info h3,
  .footer-info p,
  .footer-info a {
    font-size: 1rem;
  }
}
