.gradiente-bg {
  background: linear-gradient(to bottom, #134a21, #fefaec);
  padding-bottom: 20px;
}

.introducao-bg {
  margin-bottom: 100px;
  position: relative;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  justify-items: left;
}

.introducao h1 {
  z-index: 1;
  position: absolute;
  top: 70%;
  margin-left: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.introducao > img {
  border-radius: 10px;
  z-index: 0;
  margin-top: 50px;
  margin-left: 0px;
}

@media (max-width: 1310px) {
  .introducao h1 {
    font-size: 4rem;
    top: 65%;
  }
}

@media (max-width: 950px) {
  .introducao h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 790px) {
  .introducao h1 {
    font-size: 2.6rem;
    margin-left: 30px;
  }
}

@media (max-width: 616px) {
  .introducao h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 510px) {
  .introducao h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .introducao h1 {
    font-size: 1.2rem;
    margin-left: 5vw;
  }
}
