.header-bg {
  background: var(--cor-p2) url(../../img/icon/Linhas\ branca\ top\ right.svg)
    no-repeat right;
  padding: 30px 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  gap: 35px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-1);
  margin-top: 4px;
  position: absolute;
  transition: 0.2s;
}

.header-menu a:hover::after {
  width: 100%;
}

#btn-mobile {
  display: none;
}

@media (max-width: 1430px) {
  .header-bg {
    background: var(--cor-p2);
  }
}

@media (max-width: 620px) {
  #menu {
    /*display: none; */
    display: block;
    position: absolute;
    width: 100%;
    top: 135px;
    right: 0px;
    background: var(--cor-p2);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 135px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu li {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .header-menu a:hover::after {
    width: 0px;
  }
}
