.sobre-bg {
  background: var(--cor-p1);
  box-shadow: inset 0 80px var(--cor-1);
}

.sobre-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.sobre-conteudo h2 {
  margin-bottom: 20px;
  max-width: 500px;
}

.sobre-conteudo p {
  max-width: 500px;
}

.sobre-conteudo a {
  display: inline-block;
  background-color: var(--cor-1);
  padding: 10px 16px;
  border-radius: 50px;
  margin-top: 50px;
}

.sobre-conteudo a:hover {
  background-color: var(--cor-s1);
  transition: 0.3s;
}
