.sobre-bg {
  padding-top: 50px;
  background: var(--cor-s1);
  padding-left: 20px;
  padding-right: 20px;
}

.sobre-conteudo {
  box-sizing: border-box;
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: var(--cor-p4);
  border-radius: 10px;
}

.sobre-conteudo h2 {
  margin-bottom: 20px;
}

.sobre-conteudo p {
  max-width: 500px;
}

.sobre-descricao img {
  display: block;
  margin-bottom: 30px;
}

.sobre-imagem img {
  width: 70vh;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (max-width: 1080px) {
  .sobre-conteudo {
    grid-template-columns: 1fr;
    padding-bottom: 70px;
  }
  .sobre-imagem img {
    width: 100%;
    /* max-width: 850px; */
    grid-row: 1;
  }
  .sobre-descricao {
    grid-row: 2;
  }

  .sobre-conteudo h2,
  .sobre-conteudo p {
    place-items: start;
    max-width: initial;
  }
}

@media (max-width: 850px) {
  .sobre-conteudo h2 {
    font-size: 2rem;
    margin-top: 50px;
  }

  .sobre-conteudo p {
    font-size: 1rem;
  }
  .sobre-descricao a {
    grid-row: 2;
    font-size: 1.125rem;
    padding: 20px; /* Adapte conforme necessário */
  }
}
