.sobre-bg {
  background: var(--cor-p1);
  box-shadow: inset 0 80px var(--cor-1);
}

.sobre-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.sobre-conteudo h2 {
  margin-bottom: 20px;
  max-width: 500px;
}

.sobre-conteudo p {
  max-width: 500px;
}

.sobre-conteudo a {
  display: inline-block;
  background-color: var(--cor-1);
  padding: 10px 16px;
  border-radius: 50px;
  margin-top: 50px;
}

.sobre-conteudo a:hover {
  background-color: var(--cor-s1);
  transition: 0.3s;
}

@media (max-width: 1060px) {
  .sobre-bg {
    box-shadow: inset 0 60px var(--cor-1);
  }
  .sobre-conteudo h2,
  .sobre-conteudo p {
    max-width: 400px;
  }
}

@media (max-width: 970px) {
  .sobre-bg {
    box-shadow: inset 0 40px var(--cor-1);
  }
}

@media (max-width: 850px) {
  .sobre-bg {
    box-shadow: initial;
  }

  .sobre-conteudo {
    grid-template-columns: 1fr;
    place-items: start;
    padding-bottom: 50px;
  }

  .sobre-conteudo h2,
  .sobre-conteudo p {
    max-width: initial;
  }

  .sobre-conteudo h2 {
    font-size: 2rem;
    margin-top: 50px;
  }

  .sobre-conteudo p {
    font-size: 1rem;
  }

  .sobre-imagem img {
    display: none;
  }

  .sobre-descricao a {
    font-size: 1.125rem;
  }
}
